.register-body {
    text-align: center;
    background-color: #0E2653;
    padding: 50px 0px;
}

.register-container {
    background-color: #0e2643;
    border: 2px solid gray;
    padding-top: 2rem;
    width: 420px;
    height: 600px;
}

.img-style-register {
    border-radius: 100px;
}

.register-input-filed input {
    width: 80%;
    height: 35px;
    margin-top: 23px;
    margin-left: 47px;
}

.btn-style-register {
    width: 50%;
    font-size: 20px;
    margin-top: 30px;

}

@media (min-width:320px) and (max-width:767px) {
    .register-container {
        width: 100%;
    }
}